<ion-view view-title="Todo">

  <!-- Add a nav button to the primary location -->
  <ion-nav-buttons side="primary">
    <button class="button button-clear" ng-click="openModal()">Add</button>
  </ion-nav-buttons>
  <ion-nav-buttons side="secondary">
    <button class="button button-clear" ng-click="state.reorder = !state.reorder">Todo</button>
  </ion-nav-buttons>

  <!-- ionContent is used to wrap scrollable content -->
  <ion-content>

  <ion-refresher on-refresh="getTasks()"></ion-refresher>
  <button class="button button-clear" ng-click="openModal()">new task</button>
   <ion-list>
      <!-- Repeat over each quote, to display the current details and name -->
      <ion-item ng-repeat="task in tasks" class="item-dark">
        {{task}}
      </ion-item>
    </ion-list>
  </ion-content>
  <!-- Footer sits above the tabs and sticks -->
  <ion-footer-bar class="bar-search">
    
  </ion-footer-bar>
</ion-view>